.register {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  padding: 10px 50px 20px 30px;
  width: 100%;
  height: 100%;
  gap: 150px;
  overflow: auto;

  .left-section {
    flex: 1;

    .title {
      font-weight: 700;
      font-size: 28px;
      line-height: 60px;
      color: var(--primary-color);
      margin-top: 41px;
    }

    .form-content {
      display: flex;
      flex-direction: column;
      margin-top: 14px;

      .field {
        width: 100%;
      }

      .contact {
        display: flex;
        flex-direction: row;
        gap: 25px;
      }

      .action-button {
        margin-top: 40px;

        button {
          width: 100px;
          height: 40px;
        }
      }
    }
  }

  .right-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;

    .page-image {
      width: 100%;
      height: 500px;
      margin-top: 110px;

      .image {
        background: url("../../../../../assets/imgs/user/1.jpg") 30% 30%
          no-repeat;
        background-size: cover;
        border-radius: 6px;
        height: 60%;
        width: 100%;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
      }
    }

    button {
      height: 50px;
    }
  }
  .mat-stroked-button {
    border: 2px solid var(--primary-color);
  }
}

@media screen and (max-width: 1600px) {
  .register {
    padding: 0;
    height: 100%;
    gap: 50px;
    transform: scale(0.95);

    .left-section {
      .title {
        line-height: 50px;
        margin-top: 0;
      }
    }

    .right-section {
      .page-image {
        margin-top: 70px;

        .image {
          height: 57%;
        }
      }
    }
  }
}

@media screen and (max-width: 1445px) {
  .register {
    padding: 0px;
    height: 100%;

    .left-section {
      .title {
        line-height: 50px;
      }
    }
  }
}
