<div class="register">
  <div class="left-section">
    <div class="title">Cadastro de Usuário</div>

    <form
      class="form-content"
      [formGroup]="registerUserForm"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field class="field" appearance="outline">
        <mat-label>Nome completo</mat-label>
        <input formControlName="name" type="text" matInput />
        <mat-error>Nome inválido</mat-error>
      </mat-form-field>

      <div class="contact">
        <mat-form-field class="field" appearance="outline">
          <mat-label>E-mail</mat-label>
          <input type="email" formControlName="email" matInput />
          <mat-error>Informe um e-mail válido</mat-error>
        </mat-form-field>
        <mat-form-field class="field" appearance="outline">
          <mat-label>Telefone</mat-label>
          <input
            type="tel"
            mask="(00) 00000-0000"
            formControlName="phone"
            matInput
          />
          <mat-error>Informe um telefone válido</mat-error>
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Selecione uma permissão</mat-label>
        <mat-select name="food">
          <mat-option>Gerente </mat-option>
          <mat-option>Administrador </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="contact">
        <mat-form-field class="field" appearance="outline">
          <mat-label>Senha</mat-label>
          <input formControlName="password" type="password" matInput />
        </mat-form-field>

        <mat-form-field class="field" appearance="outline">
          <mat-label>Confirmar senha</mat-label>
          <input formControlName="confirmPassword" type="password" matInput />
        </mat-form-field>
      </div>

      <div class="action-button">
        <button
          class="login-button"
          color="primary"
          mat-raised-button
          type="submit"
        >
          Cadastrar
        </button>
        <button color="primary" (click)="resetForm()" mat-button type="button">
          Limpar
        </button>
      </div>
    </form>
  </div>

  <div class="right-section">
    <!-- <app-logo></app-logo> -->
    <button mat-stroked-button color="primary" routerLink="/inicio">
      <mat-icon class="material-icons-outlined"> arrow_back </mat-icon>
      Página anterior
    </button>

    <div class="page-image">
      <div class="image"></div>
    </div>
  </div>
</div>
