.login {
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: white;

  .left-section,
  .right-section {
    height: 100%;
    width: 50%;
  }

  .right-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .background {
      // mask-image: linear-gradient(
      //   to left,
      //   rgba(0, 0, 0, 1) 60%,
      //   rgba(0, 0, 0, 0)
      // );
      background: url("../../../../../assets/imgs/login/login.jpg") 30% 30%
        no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 0;
      opacity: 1;
    }
  }

  .left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 94px;

    .logo {
      margin-bottom: 112px;
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      width: 50%;

      img {
        width: 105px;
      }
    }

    .form-login {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      width: 50%;

      h1 {
        font-weight: 700;
        font-size: 36px;
        margin-bottom: 26px;
        color: var(--primary-color);
      }

      .form-content {
        display: flex;
        flex-direction: column;
        width: 100%;



        .field {
          width: 100%;

          &.password {
            position: relative;
            z-index: 0;

            .icon-password {
              position: absolute;
              right: 5px;
              top: 6px;
              transition: all 0.3s;
              cursor: pointer;
              z-index: 1;
            }
          }
        }

        .checkbox {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin: 10px 0px;
          font-size: 14px;
        }

        .action-button {
          display: flex;
          justify-content: center;
          align-items: center;

          .login-button {
            width: 206px;
            height: 55px;
            margin-top: 20px;
            font-weight: 700;
            font-size: 24px;
          }
        }
      }
    }

    .register {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 30px;
      font-size: 18px;

      a {
        text-decoration: none;
        margin-left: 5px;
        color: #1a3972;
      }
    }
  }
}
