<mat-card class="donation-modal">
  <mat-card-title class="card-header">
    <div class="title">
      <mat-icon class="material-icons-outlined">volunteer_activism</mat-icon>
      <span>Atualização da Doação</span>
    </div>
    <div class="close-button">
      <mat-icon class="material-icons-outlined" mat-dialog-close
        >close</mat-icon
      >
    </div>
  </mat-card-title>
  <!-- <loading-container *ngIf="!formIsReady" [height]="300"></loading-container> -->
  <mat-card-content>
    <div class="content">
      <mat-divider></mat-divider>
      <form [formGroup]="donationForm" (ngSubmit)="sendDonationUpdate()">
        <div class="top">
          <mat-form-field appearance="outline">
            <mat-label>Tipo de Atualização</mat-label>
            <mat-select formControlName="tipo">
              <mat-option
                *ngFor="let type of ['Retirada', 'Devolução']"
                [value]="type"
              >
                {{ type }}
              </mat-option>
            </mat-select>
            <mat-error>O tipo de atualização é obrigatório.</mat-error>
          </mat-form-field>
        </div>
        <mat-form-field class="date-picker-form" appearance="outline">
          <mat-label>Data da atualização</mat-label>
          <input
            (click)="picker.open()"
            matInput
            [matDatepicker]="picker"
            formControlName="data"
            placeholder="Data da atualização"
          />
          <mat-datepicker #picker></mat-datepicker>
          <mat-error> Data da atualização é obrigatória.</mat-error>
        </mat-form-field>

        <div class="actions">
          <button mat-raised-button type="submit"  [disabled]="!donationForm.valid" color="accent">Salvar</button>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>
