<div *ngIf="isLoading" class="chart-container">
  <div class="chart-title">
    <h1>Quantidade de doações em {{selectedYear}}</h1>
    <mat-form-field appearance="outline">
      <mat-select (valueChange)="onChange($event)" [(ngModel)]="selectedYear" placeholder="Ano" name="food">
        <mat-option *ngFor="let year of yearsList" [value]="year">
          {{year}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div> 
  <!-- <canvas 
    baseChart
    [labels]="doughnutChartLabels"
    [datasets]="doughnutChartDatasets"
    [options]="doughnutChartOptions"
    [legend]="true"
    [type]="'doughnut'"
  >
  </canvas> -->
  <canvas baseChart
  [datasets]="barChartData"
  [labels]="barChartLabels"
  [options]="barChartOptions"
  [legend]="barChartLegend"
  [type]="'bar'">
</canvas>
</div>
