.create-voluntary{
  height: 100%;
  box-sizing: border-box;
  padding: 20px 50px 20px 30px;

  .section-form{
    
    .form-group{
      display: flex;
      flex-wrap: wrap;
      column-gap: 15px;

      .form-control-custom{
        width: 100%;
        flex-grow: 1;
        flex-basis: 200px;
      }

      .wrapper-form{
        width: 100%;
        display: flex;
        column-gap: 20px;

        .form-control-textarea{
          width: 100%;
        }
      }
    }
  }

  .button-group{
    display: flex;
    column-gap: 15px;
  }

  .send-form{
    display: flex;
    justify-content: space-between;
  }

  .action-form{

    .button-create{
      
      span{
        margin-left: 5px;
      }
    }
    
    .mat-raised-button {
      border: 2px solid #009AA9;
      background-color: #009AA9;
    }
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
    padding: 20px;
  }
}
