<section class="voluntary-detail" *ngIf="donation">
  <div class="top-container">
    <div class="expansion-panel">
      <div class="collapsed">
        <div class="header">
          <div class="title">
            <mat-icon class="material-symbols-outlined"
              >volunteer_activism</mat-icon
            >
            <h2>Informações Gerais da Doação</h2>
          </div>

          <div class="actions">
            <button mat-button (click)="openDonate()" color="accent">
              Editar doação
            </button>

            <button
              mat-flat-button
              (click)="openUpdateModal()"
              class="highlight-button"
              color="accent"
            >
              Nova atualização
            </button>
          </div>
        </div>

        <mat-divider></mat-divider>

        <div class="overview">
          <div class="subtitle">
            <span class="label">Doação</span>
            <span class="info">
              {{ donation.materialDoado | ellipsis : 40 }}
            </span>
          </div>

          <div class="subtitle">
            <span class="label">Doador</span>
            <span class="info">
              <span class="name">
                {{ donation.entidade.nome }}
              </span>
              <mat-icon
                matTooltip="Ver informações do doador"
                class="material-symbols-outlined"
                [routerLink]="['/voluntarios/detalhe/', donation.entidadeId]"
                >visibility</mat-icon
              >
            </span>
          </div>

          <div class="subtitle">
            <span class="label">Data da Doação</span>
            <span class="info">
              {{ donation.dtEntrada | date : "dd/MM/YYYY" }}
            </span>
          </div>

          <div class="subtitle" *ngIf="donation.quantidade">
            <span class="label">Quantidade Doada</span>
            <span class="info">
              {{ donation.quantidade }}
            </span>
          </div>

          <div class="subtitle" *ngIf="donation.estoque">
            <span class="label">Estoque Atual</span>
            <span class="info">
              {{ donation.estoque }}
            </span>
          </div>

          <div class="subtitle">
            <span class="label">Cadastrada por</span>
            <span class="info">
              {{ donation.user.nomeCompleto }}
            </span>
          </div>
        </div>
      </div>
      <div class="see">Ver mais detalhes</div>
    </div>
  </div>

  <div class="bottom-container">
    <div class="donation-section">
      <div *ngIf="donation.doacoesRetiradas?.length" class="open-panel-section">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">
          <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef>Tipo de Atualização</th>
            <td mat-cell *matCellDef="let element">
              {{ element.tipo == "retirada" ? "Retirada" : "Devolução" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="quantidade">
            <th mat-header-cell *matHeaderCellDef>Quantidade</th>
            <td mat-cell *matCellDef="let element">{{ element.quantidade }}</td>
          </ng-container>

          <ng-container matColumnDef="responsavel">
            <th mat-header-cell *matHeaderCellDef>Retirado por</th>
            <td mat-cell *matCellDef="let element">
              {{ element.retiradoPor }}
            </td>
          </ng-container>

          <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef>Data</th>
            <td mat-cell *matCellDef="let element">
              {{ element.dataRetirada | date : "dd/MM/YYYY" }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            class="donation-element-row"
            mat-row
            *matRowDef="let row; columns: displayedColumns"
          ></tr>
        </table>
      </div>
    </div>
  </div>
</section>
