.voluntaty-table {
  height: 100%;
  box-sizing: border-box;

  .section-search {
    display: flex;
    justify-content: space-between;

    .form-group {
      display: flex;
      align-items: center;

      .input-search {
        width: 100%;
      }
    }

    .filter-column {
      width: 155px;
      height: 53px;
      position: relative;
      right: 0;
      top: -8px;
      font-size: 15px;
    }

    .add-user {
      width: 155px;

      .button-group {
        display: flex;
        padding-left: 10px;
        column-gap: 10px;
      }
    }
  }

  .table {
    .mat-elevation-z8 {
      border-radius: 6px;
    }

    .dont-have {
      margin-top: 30px;
      padding: 25px;
      box-shadow: 1px 1px 6px rgb(0 0 0 / 30%);
      background: #fff;
      color: #000;
      font-size: 22px;
      border-radius: 2px;
    }

    table {
      width: 100%;

      th:last-child {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
      }

      th:first-child {
        border-bottom-left-radius: 6px;
        border-top-left-radius: 6px;
      }

      th {
        font-size: 15px;
        font-weight: 600;
        background-color: var(--secondary-color);
        color: var(--font-color);
      }

      .mat-cell:not(:last-of-type) {
        font-size: 14px;
        border-right: 1px solid rgba(0, 0, 0, 0.12);
      }

      .mat-cell:not(:first-of-type) {
        text-align: center !important;
        justify-content: center !important;
      }

      td.mat-cell {
        &.center-content {
          text-align: center !important;
        }

        .icon-more {
          color: var(--third-color);
        }
      }

      th.mat-header-cell {
        &.center-content {
          text-align: center !important;
        }
      }
    }

    .button-btn {
      border: 0;
      padding: 0;
      margin: 0;
      background-color: #fff;
    }
  }

  ::ng-deep mat-form-field span.mat-form-field-label-wrapper label {
    color: var(--primary-color) !important;
    font-weight: 500;
  }
}
