<section class="voluntary-detail">
  <div>
    <mat-card class="voluntary-card">
      <mat-card-header>
        <mat-card-title> {{voluntary.nome }} </mat-card-title>
        <mat-card-subtitle>Telefone: {{voluntary.telefone | PhoneFormatPipe}}</mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div *ngIf="voluntary.tipoEntidade == 'Pessoa Física'" class="phifical-person">
          <p class="paragraph"><b>CPF:</b> {{voluntary.documento |cpfFormat }} </p>
          <p><b>Escolaridade:</b> {{voluntary.escolaridade}} </p>
          <p><b>Idade:</b> {{voluntary.dtNascimento}} </p>
          <p><b>Tipo de voluntário:</b> {{voluntary.tipoEntidade}} </p>
          <p><b>Habilidades:</b> {{voluntary.habilidade}} </p>
        </div>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-content>
        <p class="paragraph"><b>Endereço:</b> {{voluntary.endereco?.logradouro}} </p>
        <p><b>Cidade:</b> {{voluntary.endereco?.cidade}} </p>
        <p><b>Estado:</b> {{voluntary.endereco?.estado}} </p>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-content>
        <p class="paragraph"><b>Cadastrado por:</b> {{voluntary.user?.nomeCompleto}} </p>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- CRIAÇÃO DE DOAÇÃO -->

  <div class="donation-section">
    <div class="open-panel-section" *ngFor="let donation of voluntary.doacoes">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="title-donation">
              {{donation.materialDoado}}
            </mat-panel-title>
            <mat-panel-description>
              <span class="title-donation">Unidade: {{ donation.unidade }}</span>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="content-section">
            <div class="content">
              <p color="primary">Destino: {{donation.destino}} </p>
              <p>Data de entrada: {{donation.dtEntrada | date}} </p>
              <p>Destino: {{donation.destino}} </p>
              <p>Preço: {{donation.preco}} </p>
              <p>Quantidade: {{donation.quantidade}} </p>
              <p *ngIf="donation.disponibilidade">Disponibilidade: {{donation.disponibilidade}} </p>
              <p *ngIf="donation.habilidade">Habilidade: {{donation.habilidade}} </p>
              <p *ngIf="donation.dtRetirada">Data de retirada: {{donation.dtRetirada}} </p>
              <p *ngIf="donation.retiradaPor">Data de retirada: {{donation.retiradaPor}} </p>
            </div>
            <div class="content-actions">
              <button (click)="openDialog(donation)" matTooltip="Editar" mat-mini-fab color="warn">
                <mat-icon>mode_edit_outline</mat-icon>
              </button>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <app-create-donation [voluntaryId]="voluntaryId" (changeDonation)="onChangeDonations($event)"></app-create-donation>
  </div>

  <!-- CRIAÇÃO DE DOAÇÃO -->
</section>
