<div class="login">
  <div class="left-section">
    <div class="logo">
      <img src="../../../../../assets/imgs/logo.png" alt="logo do sistema" />
      <!-- <h1>Casa Azul</h1> -->
    </div>
    <div class="form-login">
      <h1>Login</h1>
      <form class="form-content" [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field class="field" appearance="outline">
          <mat-label>Usuário</mat-label>
          <input formControlName="email" type="text" matInput />
          <mat-error>Usuário inválido</mat-error>
        </mat-form-field>

        <mat-form-field class="field password" appearance="outline">
          <mat-label>Senha</mat-label>
          <input [type]="passwordVisible ? 'text' : 'password'" formControlName="password" matInput />
          <mat-icon class="icon-password material-icons-outlined" (click)="passwordVisible = !passwordVisible">
            {{ passwordVisible ? "visibility" : "visibility_off" }}</mat-icon>
          <mat-error>Informe uma senha</mat-error>
        </mat-form-field>

        <div class="action-button">
          <button class="login-button" color="primary" mat-raised-button type="submit">
            <div class="button-group">
              <mat-icon class="material-icons-outlined">
                login
              </mat-icon>
              <span>Entrar</span>
            </div>
          </button>
        </div>
      </form>

      <div class="register">
        <mat-label>Esqueceu a senha? </mat-label>
        <a href="/cadastro">Clique aqui</a>
      </div>
    </div>
  </div>
  <div class="right-section">
    <div class="background"></div>
  </div>
</div>
