<section class="voluntaty-table">
  <div id="scrollTitle">
    <div class="section-search">
      <div class="form-group">
        <mat-form-field class="input-search" appearance="outline">
          <mat-label>Procurar</mat-label>
          <input id="search" (input)="filterEntities($event.target)" matInput placeholder="Nome, CNPJ ou e-mail">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <button (click)="cleanFiltter()" class="filter-column" mat-button color="primary">
          <div class="button-group">
            <span>Limpar</span>
          </div>
        </button>
      </div>
      <mat-form-field class="add-user" appearance="outline">
        <mat-label class="button-group">
          <mat-icon class="material-icons-outlined">person_add_alt</mat-icon>
          <span>Adicionar</span>
        </mat-label>
        <mat-select>
          <mat-option [routerLink]="['criar-voluntario','fisica']" value="one">Pessoa Física</mat-option>
          <mat-option [routerLink]="['criar-voluntario','juridica']" value="two">Pessoa Jurídica</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="table">
      <div *ngIf="!voluntary.length" class="dont-have">
        Nenhuma empresa cadastrada ainda!
      </div>
      <table *ngIf="voluntary.length" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="Empresa">
          <th mat-header-cell *matHeaderCellDef>Empresa</th>
          <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
        </ng-container>
        <ng-container matColumnDef="Telefone">
          <th class="center-content" mat-header-cell *matHeaderCellDef>Telefone </th>
          <td class="center-content" mat-cell *matCellDef="let element"> {{element.telefone | PhoneFormatPipe}} </td>
        </ng-container>
        <ng-container matColumnDef="CNPJ">
          <th class="center-content" mat-header-cell *matHeaderCellDef>CNPJ </th>
          <td class="center-content" mat-cell *matCellDef="let element"> {{element.documento | cnpjFormat}} </td>
        </ng-container>
        <ng-container matColumnDef="Endereco">
          <th class="center-content" mat-header-cell *matHeaderCellDef>Endereço </th>
          <td class="center-content" mat-cell *matCellDef="let element"> {{getAddress(element.endereco)}} </td>
        </ng-container>
        <ng-container matColumnDef="quem_cadastrou">
          <th class="center-content" mat-header-cell *matHeaderCellDef>Quem Cadastrou </th>
          <td class="center-content" mat-cell *matCellDef="let element"> {{element.user.nomeCompleto}} </td>
        </ng-container>
        <ng-container matColumnDef="acoes">
          <th class="center-content" mat-header-cell *matHeaderCellDef></th>
          <td class="center-content" mat-cell *matCellDef="let element">
            <button matTooltip="Detalhes" matTooltipPosition="after" class="button-btn" [routerLink]="['detalhe', element.id]">
              <mat-icon style="cursor: pointer;" class="material-icons-outlined icon-more">
              more_vert
            </mat-icon></button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator *ngIf="voluntary.length" [length]="pagination.totalItems" [pageSize]="pagination.itemsPerPage" [pageSizeOptions]="[5, 10, 15]"
        (page)="setPagination($event)">
      </mat-paginator>
    </div>
  </div>
</section>
