<loading-container *ngIf="!isLoading" [height]="500"></loading-container>
<section *ngIf="isLoading" class="voluntary-table">
  <div id="scrollTitle">
    <div class="section-search">
      <div class="form-group">
        <mat-form-field
          class="input-search"
          appearance="outline"
        >
          <mat-label>Procurar empresa</mat-label>
          <input
            id="search"
            (input)="filterEntities($event.target)"
            matInput
            placeholder="Nome, CNPJ ou e-mail"
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <button
          (click)="cleanFiltter()"
          class="filter-column"
          mat-button
          color="primary"
        >
          <div class="button-group">
            <span>Limpar</span>
          </div>
        </button>
      </div>

      <button
        [routerLink]="['criar-voluntario', 'juridica']"
        mat-raised-button
        color="primary"
      >
        <mat-icon>add_circle</mat-icon> Adicionar Empresa
      </button>

    </div>

    <div class="table mat-elevation-z3">
      <div
        *ngIf="!voluntary.length"
        class="dont-have"
      >
        Nenhuma empresa cadastrada ainda!
      </div>
      <table
        *ngIf="voluntary.length"
        mat-table
        [dataSource]="dataSource"
      >
        <ng-container matColumnDef="Empresa">
          <th
            mat-header-cell
            *matHeaderCellDef
          >
            Empresa
          </th>
          <td
            mat-cell
            *matCellDef="let element"
          >
            {{ element.nome }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Telefone">
          <th
            class="center-content"
            mat-header-cell
            *matHeaderCellDef
          >
            Telefone
          </th>
          <td
            class="center-content"
            mat-cell
            *matCellDef="let element"
          >
            {{ element.telefone | PhoneFormatPipe }}
          </td>
        </ng-container>
        <ng-container matColumnDef="CNPJ">
          <th
            class="center-content"
            mat-header-cell
            *matHeaderCellDef
          >
            CNPJ
          </th>
          <td
            class="center-content"
            mat-cell
            *matCellDef="let element"
          >
            {{ element.documento | cnpjFormat }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Endereco">
          <th
            class="center-content"
            mat-header-cell
            *matHeaderCellDef
          >
            Endereço
          </th>
          <td
            class="center-content"
            mat-cell
            *matCellDef="let element"
          >
            {{ getAddress(element.endereco) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="quem_cadastrou">
          <th
            class="center-content"
            mat-header-cell
            *matHeaderCellDef
          >
            Quem cadastrou
          </th>
          <td
            class="center-content"
            mat-cell
            *matCellDef="let element"
          >
            {{ element.user.nomeCompleto }}
          </td>
        </ng-container>
        <ng-container matColumnDef="acoes">
          <th
            class="center-content"
            mat-header-cell
            *matHeaderCellDef
          ></th>
          <td
            class="center-content"
            mat-cell
            *matCellDef="let element"
          >
            <button
              [matMenuTriggerFor]="menu"
              class="button-btn"
            >
              <mat-icon class="material-icons-outlined"> more_vert </mat-icon>
            </button>

            <mat-menu #menu="matMenu">
              <button
                (click)="newDonation(element)"
                mat-menu-item
              >
                <mat-icon>volunteer_activism</mat-icon>
                <span>Nova doação</span>
              </button>
              <button
                [routerLink]="['detalhe', element.id]"
                mat-menu-item
              >
                <mat-icon>person</mat-icon>
                <span>Ver perfil</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>
        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
        ></tr>
      </table>
      <mat-paginator
        *ngIf="voluntary.length"
        [length]="pagination.totalItems"
        [pageSize]="pagination.itemsPerPage"
        [pageSizeOptions]="[5, 10, 15]"
        (page)="setPagination($event)"
      >
      </mat-paginator>
    </div>
  </div>
</section>
