<div class="welcome">
  <div class="images">
    <div class="background">
      <img src="assets/imgs/welcome/first-layer.png" class="first" />
      <img src="assets/imgs/welcome/second-layer.png" class="second" />
      <img src="assets/imgs/welcome/third-layer.png" class="third" />
    </div>
    <img src="assets/imgs/welcome/person.png" class="person" />
  </div>

  <div class="message">
    <img src="../../../../assets/imgs/logo-2.png" class="logo" />

    <div class="title">Seja bem vindo(a)</div>
    <div class="call">
      Um sonho que se tornou realidade. Em nossas vidas, acreditamos que o
      inesperado não conhece nosso endereço, mas quando acontece nos faz
      repensar nossos ideais.
    </div>
    <button
      class="welcome-button"
      mat-raised-button
      (click)="goToLogin()"
    >
      Entrar
    </button>
  </div>
</div>
