.welcome {
  height: 100%;
  width: 100%;
  position: relative;

  .images {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;

    .background {
      position: relative;

      .first {
        position: absolute;
        opacity: 0;
        z-index: 1;
        left: -70px;
        animation: appear 350ms ease-in-out forwards;
      }

      .second {
        position: absolute;
        opacity: 0;
        left: -70px;
        z-index: 2;
        animation: appear 350ms 250ms ease-in-out forwards;
      }

      .third {
        position: absolute;
        opacity: 0;
        left: -70px;
        z-index: 3;
        animation: appear 350ms 500ms ease-in-out forwards;
      }

      @keyframes appear {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
          left: 0;
        }
      }
    }

    .person {
      height: 100%;
      left: 43%;
      position: absolute;
      z-index: 4;
      opacity: 0;
      animation: person-appear 600ms ease-in-out forwards;
    }
    @keyframes person-appear {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
        left: 50%;
      }
    }
  }

  .message {
    color: var(--font-color);
    position: absolute;
    z-index: 2;
    top: 0%;
    left: 7%;
    opacity: 0;
    transform: scale(0.8);
    animation: message-appear 450ms ease-in-out forwards;

    @keyframes message-appear {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
        top: 10%;
        transform: scale(1);
      }
    }

    .logo {
      margin-bottom: 136px;
      width: 110px;
    }

    .title {
      font-weight: 700;
      font-size: 48px;
      margin-bottom: 50px;
    }

    .call {
      display: block;
      font-weight: 400;
      font-size: 28px;
      width: 470px;
      line-height: 1.2;
    }

    .welcome-button {
      margin-top: 34px;
      height: 55px;
      width: 205px;
      color: var(--primary-color);
      font-size: 24px;
      font-weight: 700;
    }
  }
}

@media screen and (max-width: 1445px) {
  .welcome {

    .images {
      @keyframes person-appear {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
          left: 65%;
        }
      }
    }

    .message {
      .logo {
        margin-bottom: 70px;
      }

      .title {
        font-size: 38px;
        margin-bottom: 30px;
      }

      .call {
        font-size: 20px;
      }
    }
  }
}
