.create-donation {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
    0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);

  .card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }

  .donation-data {
    padding-top: 10px;

    .button-group-remove {
      padding: 10px 0;
      display: flex;
      justify-content: space-between;

      .donation-name {
        position: relative;
        top: 9px;
        font-size: 20px;
        font-weight: 600;
      }
    }
  }

  .form-field-group {
    display: flex;
    border: 0;
    flex-direction: column;

    .form-group {
      width: 100%;
      padding-top: 15px;
      display: flex;
      column-gap: 25px;

      .wrapper-form-textarea {
        width: 100%;

        .form-control-custom {
          width: 100%;
        }
      }

      .wrapper-form-input {
        width: 100%;

        .wrapper-form {
          width: 100%;
          display: flex;
          column-gap: 20px;

          .form-control-custom {
            flex-grow: 1;
            flex-basis: 200px;
          }
        }

        // .date-picker-form-wrapper{
        //   width: 50%;
        //   position: absolute;
        //   right: -300px;
        // }

        .date-picker-form {
          // position: absolute;
          width: 100%;
        }

        .date-picker-toggle {
          width: 100%;
          position: relative;
          right: -160px;
          top: -30px;
          display: none;
        }
      }
    }

    .form-check-available {
      .form-check-control {
        display: flex;
        flex-direction: row;
        column-gap: 20px;

        .check-group {
          mat-checkbox {
            margin-right: 10px;
          }
        }

        mat-radio-group mat-radio-button {
          margin-right: 10px;
        }
      }
    }
  }

  .add-donation {
    height: 40px;

    .button-group {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }

  .button-group-donation {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
    border-top: 1px solid #ccc;
  }

  .new-donation {
    padding-top: 15px;
    margin-left: -5px;
  }

  .mat-card-footer {
    display: block;
    margin: 0 -16px -16px -16px;
    background: #f7f7f7;
    padding: 0;

    .mat-raised-button {
      border: 2px solid var(--secondary-color);
      background-color: var(--secondary-color);
    }
  }
}
