/* You can add global styles to this file, and also import other style files */
@import "./theme.scss";

// regular style toast
@import "ngx-toastr/toastr";

html,
body {
  height: 100%;
  background-color: var(--background-color);
}

body {
  margin: 0;
  font-family: Inter, sans-serif !important;

  input {
    font-family: Inter, sans-serif !important;
  }
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #ccc;
}

:root {
  --primary-color: #1A3972;
  --font-color: white;
  --background-color: white;
}
