/* You can add global styles to this file, and also import other style files */
@import "./theme.scss";
@import "./assets/theme/material-custom.scss";
@import "./assets/theme/custom-scrollbar.scss";
@import "./assets/theme/global-style.scss";

// regular style toast
@import "ngx-toastr/toastr";

html,
body {
  height: 100%;
  background-color: var(--background-color);
}

body {
  margin: 0;
  font-family: Inter, sans-serif !important;
  overflow: hidden;

  input {
    font-family: Inter, sans-serif !important;
  }
}

:root {
  --primary-color: #1a3972;
  --secondary-color: #4682b4;
  --third-color: #ff8000;
  --highlight-button: #1f9b93;
  --font-color: white;
  --background-color: #f5f6f8;
}
