/* You can add global styles to this file, and also import other style files */
@import "./theme.scss";

// regular style toast
@import "ngx-toastr/toastr";

html,
body {
  height: 100%;
  background-color: var(--background-color);
}

body {
  margin: 0;
  font-family: Inter, sans-serif !important;

  input {
    font-family: Inter, sans-serif !important;
  }
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: var(--secondary-color);
  background-color: var(--font-color);
}

.mat-dialog-container {
  display: block;
  padding: 0px !important;
  border-radius: 4px;
}

.mat-horizontal-stepper-header-container {
  padding: 24px;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: var(--secondary-color);
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent
  .mat-radio-ripple
  .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: var(--secondary-color);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #777 #ccc;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #ccc;
}

*::-webkit-scrollbar-thumb {
  background-color: #777;
  border-radius: 20px;
}

:root {
  --primary-color: #1a3972;
  --secondary-color: #4682B4;
  --third-color: #ff8000;
  --font-color: white;
  --background-color: #f5f6f8;
}
