// Material Customization
@import "@angular/material/theming";
@include mat-core();

// Mudança da fonte do Material
$custom-typography: mat-typography-config(
  $font-family: "Inter",
);

@include angular-material-typography($custom-typography);

// Mudança do tema do Material
$md-bluehouse-primary: (
  50: #e4e7ee,
  100: #bac4d5,
  200: #8d9cb9,
  300: #5f749c,
  400: #3c5787,
  500: #1a3972,
  600: #17336a,
  700: #132c5f,
  800: #0f2455,
  900: #081742,
  A100: #7995ff,
  A200: #466cff,
  A400: #1344ff,
  A700: #0034f8,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-bluehouse-accent: (
    50 : #e9f0f6,
    100 : #c8dae9,
    200 : #a3c1da,
    300 : #7ea8cb,
    400 : #6295bf,
    500 : #4682b4,
    600 : #3f7aad,
    700 : #376fa4,
    800 : #2f659c,
    900 : #20528c,
    A100 : #c9e0ff,
    A200 : #96c3ff,
    A400 : #63a7ff,
    A700 : #4998ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-bluehouse-warn: (
    50 : #fff4e0,
    100 : #ffe4b3,
    200 : #ffd280,
    300 : #ffc04d,
    400 : #ffb326,
    500 : #ffa500,
    600 : #ff9d00,
    700 : #ff9300,
    800 : #ff8a00,
    900 : #ff7900,
    A100 : #ffffff,
    A200 : #fff8f2,
    A400 : #ffdabf,
    A700 : #ffcba6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$custom-blue-app-primary: mat-palette($md-bluehouse-primary);
$custom-blue-app-accent: mat-palette($md-bluehouse-accent);
$custom-blue-app-warn: mat-palette($mat-red);

$custom-blue-theme: mat-light-theme(
  $custom-blue-app-primary,
  $custom-blue-app-accent,
  $custom-blue-app-warn
);

@include angular-material-theme($custom-blue-theme);
