.user-list {
    box-sizing: border-box;

    button{
        height: 40px;
    }

    .title-table {
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;

        .title {
            font-weight: 800;
        }
    }

    table {
        width: 100%;

        tr.user-element-row:hover {
            background: whitesmoke;
        }

        tr.user-element-row:active {
            background: #efefef;
        }

        th {
            font-weight: 700;
            color: #000;
            font-size: 14px;

            &:not(:first-of-type) {
                text-align: center;
            }
        }

        tr {
            &:first {
                text-align: left;
            }
        }

        td{
            &:not(:first-of-type) {
                text-align: center;
            }
        }
    }
}